div.titles{
    position: fixed;
    top:0;
    right:0;
    width: 37px;
    height:100%;
    background: #2d2d2d;
    z-index:22;
    padding-top:60px;
}
div.titles>p{
    background: url("../images/bar_ico.png");
    background-position: 0 0;
    width:100%;
    height:40px;
    position: relative;
}
div.titles>p:nth-child(2){
     background-position: 0 -72px;
 }
div.titles>p:nth-child(3){
    background-position: 0 -113px;
}
div.titles>p:nth-child(4){
    background-position: 0 36px;
}
div.titles>a{
    background: url("../images/bar_ico.png");
    width:100%;
    height:40px;
    background-position: 0 -181px;
    position: absolute;
    top:50%;
    margin-top:400px;
}
div.titles>p>span{
    position: absolute;
    left:-68px;
    top:0;
    height:40px;
    background:#f33;
    color:#fff;
    text-align: center;
    line-height: 35px;
    display: none;
    width:68px;
    /*transition:all 0.5s linear;*/
}
div.titles>p:hover{
    background-color:#f33;
}
div.titles>p:hover span{
    display: block;
}

